@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/inter';
@import 'fontsource-italiana';
@import "pretendard/dist/web/static/pretendard.css";

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  width: 100%;
  min-height: 1000px;
  width: 100%;
  font-family: "Pretendard-Regular";
  /* 기본 폰트 */
}